<div class="control-container" fxLayoutAlign="center center">
  <mat-card fxFlexFill fxLayout="column" class="mat-elevation-z8">
    <div class="control-grid" fxLayoutWrap="wrap">
      <div fxFlex="33%" fxLayoutAlign="center center"></div>
      <div fxFlex="33%" fxLayoutAlign="center center"><app-control-button></app-control-button></div>
      <div fxFlex="33%" fxLayoutAlign="center center"></div>

      <div fxFlex="33%" fxLayoutAlign="center center"><app-control-button></app-control-button></div>
      <div fxFlex="33%" fxLayoutAlign="center center"><img src="./assets/images/logodf.jpg" width="65%"></div>
      <div fxFlex="33%" fxLayoutAlign="center center"><app-control-button></app-control-button></div>

      <div fxFlex="33%" fxLayoutAlign="center center"></div>
      <div fxFlex="33%" fxLayoutAlign="center center"><app-control-button></app-control-button></div>
      <div fxFlex="33%" fxLayoutAlign="center center"></div>
    </div>
    <button mat-button mat-raised-button color="accent">START</button>
  </mat-card>
</div>
