<div class="main-board" fxLayout="row" fxLayout.xs="column" fxLayoutWrap="">
  <div fxFlex="60%" fxLayoutAlign="center center">
    <app-control-container></app-control-container>
  </div>
  <div fxLayout="column" fxFlex="40%" fxLayoutAlign="start center" fxLayoutGap="10px">
    <app-score-display></app-score-display>
    <app-attempts-register></app-attempts-register>
  </div>
</div>

<!-- loading sounds -->
<audio src="assets/sounds/start_game.mp3" id="start_game" #startGameSound></audio>
<audio src="assets/sounds/good.mp3" id="good" #goodSound></audio>
<audio src="assets/sounds/laser.mp3" id="laser" #laserSound></audio>
<audio src="assets/sounds/game_over.mp3" id="game_over" #gameOverSound></audio>
