.attempts-container, .attempts-counter {
  background: #efefef;
  color: #333;
  font-family: 'Press Start 2P';
  height: 80px;
  overflow: auto;
  padding: 10px;
  width: 320px;
  text-align: center;
}

.attempts-counter {
  border-bottom: 1px dashed #bbb;
}

h3 {
  text-align: center;
  font-family: 'Press Start 2P';
}

.attempt {
  border-right: 1px dotted #bbb;
  border-left: 1px dotted #bbb;
}

.attempt span {
  padding: 5px 20px;
}

.attempt__counter {
  font-family: sans-serif;
  font-size: 12px;
}

.icon-attempt mat-icon {
  font-size: 40px;
}

.icon-result img {
  width: 40px;
}
